# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
my_venv/
.env
.env.*

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/staticfiles/
media/
*.coverage

# PyCharm / VSCode
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# MySQL / database
*.sql
*.dump

# Byte-compiled / cache
*.pyc
__pyca
